.card {
	background: white;
	margin: 30px 0px;
	box-shadow: 1px 1px 20px darkgray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 2px;
	padding-bottom: 15px;
	width: 48%;
}

.card-head {
	padding: 10px 10px 50px 10px;
	font-weight: 500;
	font-size: 20px;
	margin: 1px 10px;
	color: white;
	display: flex;
	flex: 1;
	flex-direction: row;
	font-size: 25px;
}

.card-item {
	background: white;
	margin: 10px 10px 0px 10px;
	box-shadow: 0px 1px 10px darkgray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 25px 10px;
}

.card-footer {
	padding: 20px 10px;
	font-weight: 800;
}

.card-top {
	background: linear-gradient(90deg, #fe675c, #fd267d);
	height: 100px;
	margin-bottom: -20px;
}

.card-item-name {
	display: flex;
}

.card-icon {
	position: relative;
	top: 2px;
	margin-right: 10px;
}

.card-top-icon {
	position: relative;
	top: -5px;
	max-height: 60px;
	padding-top: 10px;
	margin: 0 auto;
	z-index: 2;
}

.card-head-text {
	position: relative;
	top: 15px;
	padding-left: 10px;
	font-size: 22px;
}

.contain {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
